{
   "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
   "plugins": [
      [
         "module-resolver", 
         {
            "root": [
               "./__client/src"
            ],
            "alias": {
               "img": "./__client/public/img",
               "routes": "./__server/routes",
               "models": "./__server/mongoose/models"
            }
         }
      ]
   ]
}