// eslint needs config file in root folder to proceed, even though it is empty
// actual config can be found in __client & __server catalogs
{
   "settings": {
      "import/resolver": {
        "babel-module": {}
      }
    },
   "rules": {
      "import/prefer-default-export": "off"
   }
}